body{
    margin: 0;
}
.container{
    margin: auto;
}
.first-view{
    position: relative;
    background-image: url(../../src/img/skill.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    background-position-x: right;
    height: 70vh;
}
.first-view > div{
    width: 95%;
    margin: auto;
}
.first-view img{
    position: absolute;
    height: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
}
header{
    font-family: 'montserrat', sans-serif;
    line-height: 70px;
    font-size: 20px;
    background: -webkit-linear-gradient(150deg, lightskyblue 50%, #ff465b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
main{
    margin-top: 35%;
    width: 100%;
    font-family: 'montserrat', sans-serif;
    line-height: 70px;
    font-size: 40px;
    overflow-y: unset;
    overflow-x: unset;
}
main .simple{
    background: -webkit-linear-gradient(145deg, lightskyblue, #ff465b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
article{
    margin-top: 80px;
}
article h3{
    font-size: 20px;
    font-family: 'Poppins';
    color: #ff465b;
}
article .box{
    position: relative;
    width: 90%;
    margin: auto;
    padding: 2%;
    padding-top: 15%;
    padding-bottom: 15%;
    border: 5px solid #fff;
    box-shadow: 5px 5px 5px #f1f1f1;
    border-radius: 20px;
    background-color: #fff;
    margin-top: 3%;
    margin-bottom: 3%;
}
article .box img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 250px;
    width: 250px;
    margin: auto;
    z-index: 1;
    opacity: 0.5;
}
article .box > div{
    width: 100%;
    position: relative;
    z-index: 2;
}
article section p, ol li{
    font-family: 'SourceSansPro', sans-serif;
}

.listing{
    width: 90%;
    margin: auto;
    margin-top: 5%;
    text-align: center;
}
.listing ul{
    padding-inline-start: 0;
    padding: 0;
    margin-left: 0;
}
.listing ul li{
    list-style: none;
    line-height: 100px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: 5%;
}
.listing ul li h4, span{
    line-height: initial;
}
.listing span{
    font-size: 16px;
    font-family: 'SourceSansPro', sans-serif;
    font-weight: 400;
}
.listing img{
    height: 50px;
    width: 50px;
}

.projects{
    background: linear-gradient(150deg, lightskyblue 50%, #ff465b);
    width: 100%;
    text-align: center;
    margin-top: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.project-cont {
    width: 90%;
    margin-left: auto;
    text-align: left;
    padding-right: 4%;
}
.project-cont p{
    font-family: 'SourceSansPro', sans-serif;
    color: snow;
    margin: 0;
}
.project-cont img{
    height: 100px;
    width: 100px;
    text-align: center;
}
.projects h4:first-child{
    border-bottom: 2px solid #fff;
}
.projects h4{
    text-align: center;
    display: inline-block;
    margin: auto;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    width: 40%;
    padding: 4px;
}
.projects a{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-decoration: none;
    
}
.web-desc{
    display: block;
}
.local-desc{
    display: none;
}

.about-me{
    margin-top: 10%;
    text-align: center;
}
.headings h1{
    text-align: center;
    font-family: 'montserrat', sans-serif;
    color: #ff465b;
}
.about-me img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 10px solid #fff;
}
.about-me h3{
    font-family: 'montserrat', sans-serif;
}
.about-me h3 small{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.about-me .my-desc{
    width: 70%;
    margin: auto;
    font-family: 'SourceSansPro', sans-serif;
}

.contact-me{
    margin-top: 15%;
}
.contact-me > div{
    width: 90%;
    margin: auto;
}
.contact-me > div form > p{
    font-family: 'SourceSansPro', sans-serif;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    display: none;
}
.contact-me .success-mssg{
    background-color: lightgreen;
    color: #fff;
}
.contact-me .failed-mssg{
    background-color: #ff465b;
    color: #fff;
}
.contact-me > div .form{
    display: block;
    width: 100%;
    border: 2px solid rgb(234, 244, 250);
    padding: 2%;
    padding-top: 3%;
    padding-bottom: 3%;
    font-family: 'Poppins', sans-serif;
    margin-top: 2%;
    margin-bottom: 2%;
}
.contact-me .form:focus{
    outline: 1px solid dodgerblue;
}
.contact-me > div textarea{
    display: block;
    width: 100%;
    border: 2px solid rgb(234, 244, 250);
    padding: 2%;
    padding-top: 3%;
    padding-bottom: 3%;
    font-family: 'Poppins', sans-serif;
    margin-top: 2%;
    margin-bottom: 2%;
}
.contact-me textarea:focus{
    outline: 1px solid dodgerblue;
}
.contact-me .suggest{
    font-family: 'Poppins', sans-serif;
}
.contact-me q{
    display: block;
    font-size: 15px;
    background-color: #fff;
    border: 1px solid #f1f1f1;
    padding: 2%;
    width: fit-content;
    border-radius: 50px;
    margin-top: 2%;
    margin-bottom: 2%;
    cursor: pointer;
}
.contact-me > div button{
    background: #fff;
    border: 2px solid #ff465b;
    display: block;
    width: 40%;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 400;
    padding: 3%;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
.contact-me > div button div{
    display: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid #ff465b;
    border-left: 2px solid transparent;
    margin: auto;
    animation: loader 1s linear infinite;
}

@keyframes loader{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}

footer{
    margin-top: 15%;
    padding: 2%;
    padding-top: 5%;
    background-color: #ff465b;
    font-family: 'SourceSansPro', sans-serif;
}
footer h2{
    font-family: 'montserrat', sans-serif;
    color: #fff;
}
footer img{
    height: 20px;
    width: 20px;
    margin: auto;
    vertical-align: middle;
}
footer div{
    width: 90%;
    margin: auto;
    text-align: center;
}
.copy{
    color: #444;
    margin-top: 3%;
}

@media screen and (min-width: 992px) {
    .first-view{
        height: 100vh;
    }
    main{
        margin-top: 10%;
    }
    article .box{
        width: 25%;
        display: inline-block;
        margin-left: 1.5%;
        margin-right: 1.5%;
        box-shadow: 3px 3px 10px #e1e1e1;
        padding-top: 2%;
        padding-bottom: 2%;
        margin-top: 2%;
        margin-bottom: 0;
    }
    .listing ul li{
        display: inline-block;
        width: 45%;
        margin-left: 2%;
        margin-right: 2%;
    }
    .projects h4{
        width: 20%;
    }
    .projects h4:first-child{
        border-bottom: 0;
    }
    .project-cont{
        display: inline-block;
        vertical-align: top;
        margin: auto;
        width: 45%;
        text-align: center;
    }
    .website{
        border-right: 2px solid #fff;
    }
    .local{
        border-left: 2px solid transparent;
    }
    .web-desc{
        display: block;
    }
    .local-desc{
        display: block;
    }
    .about-me{
        margin-top: 5%;
    }
    .about-me > div{
        display: inline-block;
        vertical-align: middle;
    }
    .my-header{
        width: 40%;
    }
    .my-desc{
        width: 50%!important;
    }

    .contact-me{
        margin-top: 5%;
    }
    .contact-me > div{
        width: 40%;
    }
    .contact-me q{
        font-size: 14px;
    }
    .contact-me > div button{
        padding: 2%;
    }
    
    footer{
        margin-top: 5%;
    }
}